<%= render "shared/second-header"%>

<div class='info-main'>
  <div class='info-wrap'>
    <div class='info-title'>お客様情報</div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">ニックネーム</th>
          <td class="detail-value"><%= @user.nickname %></td>
        </tr>
        <tr>
          <th class="detail-item">メールアドレス</th>
          <td class="detail-value"><%= @user.email %></td>
        </tr>
        <tr>
          <th class="detail-item">ご登録のお名前</th>
          <td class="detail-value"><%= "#{@user.last_name} #{@user.first_name}" %></td>
        </tr>
        <tr>
          <th class="detail-item">フリガナ</th>
          <td class="detail-value"><%= "#{@user.last_name_kana} #{@user.first_name_kana}" %></td>
        </tr>
        <tr>
          <th class="detail-item">生年月日</th>
          <td class="detail-value"><%= @user.birth_date.strftime("%Y/%m/%d") %></td>
        </tr>
      </tbody>
    </table>
    <%# link_to 'お客様情報の編集', "#", method: :get, class: "user-edit-btn" %>
  </div>
</div>

<%= render "shared/second-footer"%>